@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 1000;
}

.carta {
  border: 2px;
  border-radius: 1rem;
  padding: 20px;
  margin: 10px;
  width: 270px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.269);
}

.carta img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.carta h2 {
  margin-top: 0;
  text-align: center;
  color:#1B1B1D;
  font-size: 1.2rem
}

.carta p {
  margin-bottom: 0;
  text-align: center;
  color: #1B1B1D;
  font-weight: 400
}
