@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}
img{
	max-width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo{
	width: 120px;
}

.menu .navbar ul {
	display: flex;
}

.menu .navbar > ul > li > a {
	font-size: 18px;
	padding: 0 20px;
	color: #1B1B1D;
	display: block;
	font-weight: 600;
}
.menu .navbar > ul > li > a:hover {
	color: #FF8400;
}

#menu{
	display: none;
}

.menu-icono {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.navbar ul li ul {
	color: #1B1B1D;
	font-size: 18px;
	padding: 0 20px;
	font-weight: 600;
	position: absolute;
	visibility: hidden;
}

.navbar ul li:hover ul {
	visibility: visible;
}

.navbar a{
	color:#1B1B1D ;
	margin-left: 14px;

}

.navbar a:hover {
	color:#FF8400 ;
}

.triangulo{
	height: 10px;
	margin-left: 3px;
}



p{
	font-size: 18px;
	color: #515151;
	margin-bottom: 25px;
}

h2{
	color: #1B1B1D;
	font-size: 40px;
}

.footer{
	padding: 50px 0;
	border-top: 1px solid #B7B7B74A;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-content{
	display: flex;
	justify-content: space-between;
}

.footer-1{
	display: flex;
}

.footer-1 p{
	font-size: 16px;
	color: #040404;
	margin-right: 20px;
}

.social-link{
	display: flex;
}

.social-link{
	font-size: 20px;
	color: #040404;
	margin-right: 20px;
}

.social-link a:hover{
	color: #FF8400;
}

.social-link a{
	padding: 0 50px;
	color: #1B1B1D;
}

.header-img2{
	flex-basis: 100% - 40px;
}

.header-content{
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.header-img1{
	flex-basis: 50%;
}

.header-txt1{
	flex-basis: 50%;
	padding-left: 80px;
}

.header-txt1 p{
	text-align: justify;
}

.header-img2{
	flex-basis: 50%;
}

.header-txt2{
	flex-basis: 50%;
	padding-right: 80px;
}

.header-txt2 p{
	text-align: justify;
}

.Equipo{
	padding: 8px 0;
	text-align: center;
}

h2{
	color: #1B1B1D;
	font-size: 40px;
	text-align: center;
}
.Equipo-content{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.Equipo-1{
	flex-basis: calc(33.3% - 40px);
}

.Equipo-1 img{
	width: 150px;
	margin-bottom: 10px;
}

.Equipo-1 h3{
	color: #1B1B1D;
	font-size: 20px;
	margin-bottom: 10px;
}

.Equipo-1 p{
	text-align: justify;
}




@media(max-width:991px){
	.menu{
		padding: 20px;
		position: relative;
	}

	.menu label{
		display: initial;
	}

	.menu .navbar{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color:#FFFFFF ;
		display: none;
	}

	.menu .navbar ul{
		flex-direction: column;
	}

	.menu .navbar ul li{
		width: 100%;
		padding: 20px 0;
	}

	.menu .navbar ul li a:hover{
		color: #FF5A2C;
	}

	#menu:checked ~ .navbar{
		display: initial;
	}

	.header-img2{
		width: 800px;
		text-align: left;
	}

	.header-content{
		padding: 30px;
		flex-direction: column;
		text-align: center;
	}

	.header-txt{
		padding: 0 0 40px 0;
	}

	.header-img img {
		width: 700px;
	}



	.Equipo-content{
		padding: 30px;
	}

	.Equipo-content{
		flex-direction: column;
	}

	.footer{
	padding: 30px;
	}

	.footer-content{
	flex-direction: column;
	align-items: center;
	}

}

